.container {
  width: 100%;
  height: 100%;
  background-color: rgb(188, 252, 39);
  box-sizing: border-box;
}

.container .uicontainer li {
  display: flex;
  flex-direction: row;
  margin: 5px;
  width: 45%;
  /* height: 300px;
  width: 300px; */
}
.container .uicontainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.container .uicontainer .other {
  background-color: aliceblue;
  width: 38%;
}
.container .uicontainer img {
  width: 300px;
  height: 300px;
}
.container .uicontainer button {
  margin-left: 20px;
  width: 40px;
  height: 40px;
  border-style: none;
  background-color: rgb(90, 90, 235);
  color: white;
  border-radius: 3px;
}
.container .other .btnbuy button {
  margin: 10px;

  width: 150px;
  background-color: blueviolet;
  border-radius: 5px;
}
.container .uicontainer span {
  font-size: 20px;
  margin-left: 20px;
  text-align: center;
  /* margin-left: 50px; */
}
@media screen and (max-width: 700px) {
  .container {
    width: auto;
    height: auto;
    background-color: rgb(188, 252, 39);
  }

  .container .other > button {
    position: absolute;
    left: 75%;
    right: 16%;
    margin-left: -21px;
    width: auto;
    background-color: blueviolet;
  }
  .container .uicontainer li {
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: auto;
    align-items: center;
    /* height: 300px;
    width: 300px; */
  }
  .container .uicontainer {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-left: -30px;
    align-items: center;
    justify-content: center;
  }
  .container .uicontainer img {
    /* width: 300px;
    height: 200px; */
  }
  .container .uicontainer .other {
    width: 300px;
    border-radius: 5px;
  }
  .other p {
    font-size: 15px;
  }
}
